.audience-section {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  margin-bottom: 7rem;
  margin-top: 6.6rem;

  &__intro {
    grid-row: 1/2;
    text-align: center;
  }

  &__main {
    display: grid;
    grid-template-columns: minmax(25rem, 1fr);
    grid-row-gap: 2rem;
  }
}

.audience {
  display: grid;
  grid-template-columns: min-content 45rem;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  justify-content: center;

  &__icon {
    color: $theme-color-tick;
    font-size: 2.2rem;
    grid-row: 1/span 2;
    transform: translateY(0.2rem);
  }
}