.benifits-section {
  grid-column: center-start/center-end;
  display: grid;
  // grid-template-rows: minmax(5rem,min-content) 1fr;
  grid-row-gap: 5rem;
  margin: 9.6rem 0;

  &__intro {
    grid-row: 1/2;
    text-align: center;
  }

  &__main {
    display: grid;
    // grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 9rem;
    grid-row-gap: 6.2rem;
  }

  &__btn {
    display: flex;
    padding: 10rem;
  }
}

.benifit {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.3rem;
  text-align: center;

  &__icon {
    color: $theme-color-primary;
    font-size: 4.7rem;
  }
}
