.include {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 6rem;
    margin: 3rem 0;

    &__intro {
        text-align: center;
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    &__img {
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(6,1fr);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1/-1;
            grid-template-rows: repeat(8,1fr);
            grid-template-columns: repeat(8,1fr);
        }
    }

    &__img--1 {
        width: 100%;
        grid-row: 1/-1;
        grid-column: 3/-1;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 2/8;
        }
    }

    &__content {
        grid-column: 2/2;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-left: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1/-1;
            align-items: center;
        }
    }

    &__lists {
        list-style: none;
        line-height: 4.2rem;
    }

    &__list {
        display: flex;
    }
}

.check__icon {
    font-size: 1.7rem;
    color: $theme-color-tick;
    margin-right: 0.8rem;
}
